# EditorConfig: https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yml,yaml,xml,csproj,props,targets}]
indent_size = 2

[*.proto]
indent_size = 2

[*.{md,txt}]
trim_trailing_whitespace = false

[*.cs]
# Namespace
dotnet_style_namespace_match_folder = true:suggestion
# Using directives
csharp_using_directive_placement = outside_namespace:error
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
# Vars
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion
# Expression-bodied members
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_constructors = false:suggestion
# Pattern matching
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
# Null checks
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
# new() expressions
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
# Modifiers
dotnet_style_require_accessibility_modifiers = always:suggestion
csharp_prefer_static_local_function = true:suggestion
# Braces
csharp_prefer_braces = when_multiline:suggestion
# Spacing
csharp_space_after_cast = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
# Newlines
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
# IDE diagnostics
dotnet_diagnostic.IDE0055.severity = suggestion